extends layout

block content
    h1= title
    p Welcome to #{title}
    <br>

    form(action='/login',method='post')
        select(name='userName', value='')
            each user, i in users
                option(value="#{user.userName}")= user.userName

        p User password
        input(name='password', value='')

        p
            input(type='submit', value="Enter")

    if session.user

        p Hi #{session.user.userName}

        p
            a(id='config', class='button', href='http://localhost:3000/config') go to config
        p
            a(id='test_suite', class='button', href='http://localhost:3000/test_suite') go to test_suite

    script(src="/javascripts/start.js")

