extends ../node_modules/jade-bootstrap/_bootstrap

block body
    script(src="/javascripts/jquery-1.11.2.min.js")
    link(rel="stylesheet",href="stylesheets/style.css")
    link(rel="stylesheet",href="stylesheets/spectrum.css")

    script.
        var page = window;

    .header
        .row
            .col-xs-1
                //if (page == "/")
                a.btn.btn-info(href='/') Back
            .col-xs-6.col-xs-offset-2
                h2
                    p Automated Test Environment

            if session.user
                #userNameHeader.col-xs-1.col-xs-offset-1
                    h5
                        p Hi #{session.user.userName}
                .col-xs-1
                    a.btn.btn-warning(href='/logOut') LogOut
    .col-xs-8.col-xs-offset-2
      block content
block scripts
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="/javascripts/start.js")
    script(src="/javascripts/spectrum.js")
    include modals/add_test_suit
    script(src="/javascripts/test_suite.js")