extends ../node_modules/jade-bootstrap/_bootstrap

block body
  script(src="/javascripts/jquery-1.11.2.min.js")
  link(rel="stylesheet",href="stylesheets/style.css")
  link(rel="stylesheet",href="stylesheets/spectrum.css")
  .header
    .container
      h1= title
      p Welcome to #{title}
      <br>
  .container
      block content
block scripts
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  script(src="/javascripts/start.js")
  script(src="/javascripts/spectrum.js")
  include modals/add_test_suit
  script(src="/javascripts/test_suite.js")