extends layout

block content

    include ./modals/notify

    .panel.panel-default
        .panel-heading
           | Create New user
        .panel-body
            .col-xs-10.col-xs-offset-1
                #main_configuration_container
                    form(action='/register',method='post')

                        p User name
                        .input-group(id="userName")
                            input(name='userName', class="form-control", placeholder="User name")
                            .input-group-addon
                                span.text status
                                .glyphicon.glyphicon-refresh.hidden

                        p User email
                        .input-group
                            input(name='email', class="form-control", placeholder="User email")

                        p User password
                        .input-group(id="password")
                            input(name='password', class="form-control", type="password", placeholder="User password")
                            .input-group-addon
                                span.text status
                        p
                        input.btn.btn-success(type='submit', value='Register')