extends layout

block content

    include ./modals/notify

    script.
        var suitsData = JSON.parse('!{JSON.stringify(suits)}');

    #test_suite_configuration_container
        .row
            .col-md-8.col-md-offset-2
                .thumbnail
                    form#newTestSuiteForm(action="/addTestSuit", method="post", data-toggle="validator", role="form")
                        .row
                            .col-xs-6
                                span Create new test suit
                            .col-xs-6
                                .btn-group.input-group
                                    button#testSuitList.btn.btn-default.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                        | Suits list&nbsp;
                                        span.caret
                                    ul.dropdown-menu
                                        each suit, i in suits
                                            li
                                                a.editTestSuitListItem(name="#{suit.testSuite}", index=i) #{suit.testSuite}
                        .input-group
                            input#testSuitInput.form-control(name='testSuit' ,type='text', aria-label='...', required, pattern="^[_A-z0-9]{1,32}$")
                            span.input-group-addon Name
                            .help-block.with-errors

                        .input-group
                            textarea#testSuiteDescription.form-control.vresize(name="testSuiteDescription", required, pattern="^[_A-z0-9]{1,380}$")
                            span.input-group-addon Description

                        .input-group.col-md-12
                            .col-md-4
                                button#addNewTestSuit.btn.btn-success.center-block(type='submit') Create
                            .col-md-4
                                button#editTestSuit.btn.btn-warning.center-block(type='submit') Edit
                            .col-md-4
                                button#uploadTestSuit.btn.btn-primary.disabled.center-block(type='button', data-toggle='modal', data-target='#modal')
                                    | Upload
                    //.thumbnail
                    #fileListEdit.list-group
                        a.list-group-item.active Files list
                        #fileList

            #modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4#modalLabel.modal-title Modal title
                        .modal-body
                            p Upload script data

                            form#uploadForm.uploadForm(action="/upload", method="post", enctype="multipart/form-data")

                                .list-group
                                    span.btn.btn-primary.btn-file Add *.lua scripts
                                        input.btn.btn-default(type="file", name="lua_upload", multiple, accept=".lua")
                                .list-group
                                    span.btn.btn-primary.btn-file Add additional files (icons, etc)
                                        input.btn.btn-default(type="file", name="other_upload", multiple)
                                .list-group
                                    span.btn.btn-primary.btn-file Add files to user_modules
                                        input.btn.btn-default(type="file", name="modules_upload", multiple)
                                input#uploadTestSuiteSelectInput.hidden(name='testSuiteName')
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Close
                            input#uploadUpdateTest.btn.btn-success(type='submit', name="upload", value="Update test suite")