#notify

script.
    notiify = function(type, message) {

        if (message === '') {
            return;
        }
        var notification = document.createElement('div');

        $(notification).addClass("alert");
        $(notification).addClass("notify");

        switch (type) {
            case "err": {
                $(notification).addClass("alert-danger");
                break;
            }
            case "warn": {
                $(notification).addClass("alert-warning");
                break;
            }
            case "success": {
                $(notification).addClass("alert-success");
                break;
            }
            case "info": {
                $(notification).addClass("alert-info");
                break;
            }
            default: {
                break;
            }
        }

        $(notification).text(message);

        $("#notify").append(notification);

        $(notification).fadeIn(100);

        setTimeout(function(){
                $(notification).fadeOut(3000); // Fade effect hiding during 3 seconds
                setTimeout(function(){$(notification).remove();}, 3100);
            },
            2000); //Notification appear time

    };

script.
    notiify("warn", '!{errorMessage}');
